@font-face {
  font-family: 'iconfont'; /* Project id 2894386 */
  src: url('iconfont.woff2?t=1649833828521') format('woff2'),
    url('iconfont.woff?t=1649833828521') format('woff'),
    url('iconfont.ttf?t=1649833828521') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: '\e634';
}

.icon-htzg-danzhibiao:before {
  content: '\e61e';
}

.icon-htzg-shitu:before {
  content: '\e61f';
}

.icon-htzg-shujubiao:before {
  content: '\e620';
}

.icon-htzg-zhibiaofangan:before {
  content: '\e621';
}

.icon-htzg-danbiao:before {
  content: '\e622';
}

.icon-htzg-SQL:before {
  content: '\e624';
}

.icon-htzg-sanfangzhuanfa:before {
  content: '\e633';
}

.icon-a-delete:before {
  content: '\e70a';
}

.icon-m-noticetongzhi:before {
  content: '\e6e7';
}

.icon-m-closeguanbi:before {
  content: '\e6e8';
}

.icon-m-warningjinggao:before {
  content: '\e6e9';
}

.icon-m-suspendzanting:before {
  content: '\e6ea';
}

.icon-m-successchenggong:before {
  content: '\e6e6';
}

.icon-a-exportdaochu:before {
  content: '\e6e5';
}

.icon-zhunbeitingzhi:before {
  content: '\e641';
}

.icon-a-htzg-shitubeifen3:before {
  content: '\e61d';
}

.icon-a-htzg-danzhibiaobeifen4:before {
  content: '\e623';
}

.icon-a-htzg-danbiaobeifen4:before {
  content: '\e625';
}

.icon-a-htzg-SQLbeifen4:before {
  content: '\e626';
}

.icon-a-htzg-sanfangzhuanfabeifen4:before {
  content: '\e635';
}

.icon-a-htzg-shujubiaobeifen4:before {
  content: '\e636';
}

.icon-a-htzg-zhibiaofanganbeifen4:before {
  content: '\e638';
}

.icon-a-htzg-mulubeifen4:before {
  content: '\e639';
}

.icon-a-demandManage:before {
  content: '\e6e1';
}

.icon-a-stopting:before {
  content: '\e6df';
}

.icon-a-replaceti:before {
  content: '\e6e0';
}

.icon-banbenguanli:before {
  content: '\e62a';
}

.icon-a-chuangjianwenjian:before {
  content: '\e62b';
}

.icon-bianjiwenjian:before {
  content: '\e62c';
}

.icon-a-chuangjianwenjianjia:before {
  content: '\e62d';
}

.icon-shangchuanwenjian:before {
  content: '\e62e';
}

.icon-a-shanchu:before {
  content: '\e62f';
}

.icon-a-wenjianyinyong:before {
  content: '\e630';
}

.icon-a-zhongmingming:before {
  content: '\e631';
}

.icon-a-xiazai:before {
  content: '\e632';
}

.icon-a-investPoolManageyanjiuguanli:before {
  content: '\e627';
}

.icon-a-irsresearchManagementtouzichiguanli:before {
  content: '\e628';
}

.icon-a-rsscorefuwujigoupingfen:before {
  content: '\e629';
}

.icon-a-filewenjian:before {
  content: '\e6de';
}

.icon-a-plusjia:before {
  content: '\e6dd';
}

.icon-a-bellxiaoxi:before {
  content: '\e6da';
}

.icon-a-questionwenti:before {
  content: '\e6db';
}

.icon-a-searchsousuo:before {
  content: '\e6dc';
}

.icon-m-collectshoucang:before {
  content: '\e6d8';
}

.icon-a-nocollectweishoucang:before {
  content: '\e6d9';
}

.icon-a-settingshezhi:before {
  content: '\e6d7';
}

.icon-a-leftzuojiantou:before {
  content: '\e6d3';
}

.icon-a-rightyoujiantou:before {
  content: '\e6d4';
}

.icon-a-themeIconhuanfu:before {
  content: '\e6d5';
}

.icon-a-logouttuichu:before {
  content: '\e6d6';
}

.icon-a-yhqj:before {
  content: '\e6cf';
}

.icon-a-api:before {
  content: '\e61c';
}

.icon-a-complianceControl:before {
  content: '\e617';
}

.icon-a-riskManagement:before {
  content: '\e6d1';
}

.icon-a-otcOperate:before {
  content: '\e6d2';
}

.icon-a-ASSETMAP:before {
  content: '\e6c8';
}

.icon-a-dataDevelopment:before {
  content: '\e6ca';
}

.icon-a-calc:before {
  content: '\e61b';
}

.icon-xc-baseInfo2:before {
  content: '\e618';
}

.icon-a-query:before {
  content: '\e619';
}

.icon-a-board:before {
  content: '\e61a';
}

.icon-a-homeManagement:before {
  content: '\e616';
}

.icon-a-ENQUIRYEXEC:before {
  content: '\e615';
}

.icon-a-worktable:before {
  content: '\e614';
}

.icon-a-CONERISK:before {
  content: '\e664';
}

.icon-a-riskBasis:before {
  content: '\e665';
}

.icon-a-transactionManagement:before {
  content: '\e666';
}

.icon-a-riskSet:before {
  content: '\e667';
}

.icon-a-ENQUIRY:before {
  content: '\e65c';
}

.icon-a-finance:before {
  content: '\e65d';
}

.icon-a-libraryTable:before {
  content: '\e65e';
}

.icon-a-investmentManagement:before {
  content: '\e65f';
}

.icon-a-ins:before {
  content: '\e660';
}

.icon-a-otcTrade:before {
  content: '\e661';
}

.icon-a-otcRisk:before {
  content: '\e662';
}

.icon-a-polymerization_two:before {
  content: '\e663';
}

.icon-a-account:before {
  content: '\e657';
}

.icon-a-baseInfo:before {
  content: '\e658';
}

.icon-a-archive_query:before {
  content: '\e659';
}

.icon-a-home:before {
  content: '\e65a';
}

.icon-a-bondipo:before {
  content: '\e65b';
}

.icon-a-researchManagement:before {
  content: '\e605';
}

.icon-a-dolphinscheduler:before {
  content: '\e606';
}

.icon-a-workbench2:before {
  content: '\e607';
}

.icon-a-systemManage:before {
  content: '\e608';
}

.icon-a-realTimeIndicators:before {
  content: '\e609';
}

.icon-a-Pressure:before {
  content: '\e60a';
}

.icon-a-Report:before {
  content: '\e60b';
}

.icon-a-workflow:before {
  content: '\e60c';
}

.icon-a-regulatorySubmitted:before {
  content: '\e60d';
}

.icon-a-tradebook:before {
  content: '\e60e';
}

.icon-a-polymerization2:before {
  content: '\e60f';
}

.icon-a-riskControl:before {
  content: '\e610';
}

.icon-a-trans:before {
  content: '\e611';
}

.icon-a-quality:before {
  content: '\e612';
}

.icon-a-workbench:before {
  content: '\e613';
}

.icon-a-position:before {
  content: '\e6c7';
}

.icon-a-categoryService:before {
  content: '\e6c9';
}

.icon-a-polymerization:before {
  content: '\e6ce';
}

.icon-a-MOM:before {
  content: '\e6c6';
}

.icon-a-libraryTable1:before {
  content: '\e6cb';
}

.icon-a-backtrack:before {
  content: '\e6cc';
}

.icon-a-netWorth:before {
  content: '\e6cd';
}

.icon-a-indicatorManage:before {
  content: '\e6be';
}

.icon-a-FOF:before {
  content: '\e6bf';
}

.icon-a-performance:before {
  content: '\e6c1';
}

.icon-a-systemManage1:before {
  content: '\e6c2';
}

.icon-a-baseInfo1:before {
  content: '\e6c3';
}

.icon-a-apiService:before {
  content: '\e6c4';
}

.icon-a-market:before {
  content: '\e6c5';
}
